.div-1 , .div-2{
    background-color: blueviolet;
}
.logoo{
    width: 90pt;
    height: 90pt;
}

.span1 {
    background-color: brown;
}
.span2{
    background-color: rgb(41, 143, 112);
    float:right;
}